@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}
/* 箭頭樣式-共通 */
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

* {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

img {
  max-width: 100%;
}

.current,
.mark-bright,
a:hover {
  color: #c69000;
}

.right-arrow {
  margin: 12px;
  font-size: 24px;
}
.right-arrow:hover {
  color: #ffffff;
}

.circle-1 {
  margin: 0 5px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #c69000;
  color: #c69000;
}

.txt-bc-w, .index-advantage .container .slogan samp, .center .about samp, .index-slogan .about samp, .wrap > .top-container > .about samp {
  padding: 20px 10px;
  letter-spacing: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}

.sty-box-1 {
  font-size: 18px;
  display: block;
  width: 180px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #c69000;
}

.arrow-prev,
.arrow-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  border: 1px solid #bdbdbd;
  background-color: #fff;
}
.arrow-prev:hover,
.arrow-next:hover {
  border: 1px solid #c69000;
}

.arrow-prev::after {
  content: "←";
}

.arrow-next::after {
  content: "→";
}

.no-scroll {
  overflow: hidden;
}

.m_dropmenu {
  font-size: 20px;
  line-height: 40px;
  position: relative;
}
.m_dropmenu .m_current,
.m_dropmenu .m_item {
  margin-left: 10px;
}
.m_dropmenu .m_title {
  border: 1px solid #c69000;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #c69000;
}
.m_dropmenu .m_arrow {
  margin: 0 5px;
  color: #c69000;
  line-height: 40px;
  transition: transform 0.5s;
}
.m_dropmenu .m_arrow_down {
  transform: rotate(180deg);
}
.m_dropmenu .m_list {
  max-height: 0;
  transition: 1s ease;
  position: absolute;
  top: 42px;
  width: 100%;
  overflow: hidden;
  z-index: 99;
}
.m_dropmenu .m_list li {
  border: 1px solid #bbbbbb;
  border-top: 0px;
  height: 40px;
  background-color: #fff;
}
.m_dropmenu .m_list li a {
  display: block;
}
.m_dropmenu .m_list_open {
  max-height: 400px;
}

.menu {
  position: fixed;
  right: -500px;
  width: 400px;
  height: 1000px;
  background-color: #f2ebeb;
  background-image: url(/img/main_bg.png);
  z-index: 99;
  opacity: 0.1;
  display: flex;
  transition: ease 0.5s;
}

.menu-open {
  right: 0px;
  opacity: 1;
}

.menu-open-btn,
.menu-closure-btn {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 60px;
}
.menu-open-btn::after,
.menu-closure-btn::after {
  color: #000;
  font-size: 18px;
  letter-spacing: 3px;
}

.menu-open-btn {
  z-index: 5;
  position: fixed;
  top: 50px;
  right: 50px;
}
.menu-open-btn::after {
  content: "meun";
}

.menu-closure-btn {
  position: absolute;
  top: 0px;
  right: -60px;
}
.menu-closure-btn::after {
  content: "close";
}

.top-nav {
  margin: 50px 20px;
  position: relative;
}
.top-nav .contact-us {
  width: 270px;
  padding: 10px 0px;
  border-bottom: 3px solid #000000;
}
.top-nav .nav {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 50px;
}
.top-nav .nav a {
  font-size: 20px;
  margin: 15px 0;
}
.top-nav .nav a:hover {
  color: #c69000;
}
.top-nav .copyright {
  position: absolute;
  top: 130px;
  left: 320px;
  writing-mode: vertical-rl;
  height: 250px;
  font-size: 14px;
}

.footer {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .txt,
.footer .last-nav {
  width: 90%;
}
.footer .txt {
  display: flex;
  padding: 60px 0 20px 0;
  border-bottom: 2px solid #000;
  justify-content: space-between;
  line-height: 40px;
}

.contact-us {
  display: flex;
  flex-wrap: wrap;
}
.contact-us .contact-details {
  margin: 0 5px;
}

.user-service {
  display: flex;
}
@media screen and (max-width: 992px) {
  .user-service {
    position: fixed;
    bottom: 0px;
    width: 101VW;
    left: 0;
    z-index: 9;
  }
}
.user-service a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #c69000;
  color: #c69000;
  text-align: center;
  line-height: 40px;
  margin: 0 15px;
}
@media screen and (max-width: 992px) {
  .user-service .item {
    border: 1px solid #c69000;
    border-radius: 0%;
    margin: 0;
    width: 33%;
    background-color: #fff;
  }
}

.last-nav {
  line-height: 60px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .last-nav {
    display: none;
  }
}
.last-nav a {
  margin: 0 10px;
}

.back-top {
  margin: 35px 0;
}
@media screen and (max-width: 992px) {
  .back-top {
    margin: 35px 0 70px 0;
  }
}

.wrap {
  background-image: url("/img/main_bg.png");
}
.wrap > .top-container {
  position: relative;
}
.wrap > .top-container > .logo {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 45px;
  left: 45px;
}
.wrap > .top-container > .bk > img {
  height: 450px;
  object-fit: cover;
}
.wrap > .top-container > .about {
  position: absolute;
  top: 80px;
  right: 20%;
  color: #000;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 450px) {
  .wrap > .top-container > .about {
    top: 135px;
  }
}
.main {
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .main {
    margin: 0 30px;
  }
}

.title-container {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 3px;
  font-size: 16px;
}

.title-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
.title-box > .title {
  margin-bottom: 30px;
}
.title-box > .title > .en {
  font-size: 40px;
}
.title-box > .title > .tw {
  font-size: 24px;
  margin: 20px 0 30px 0;
  font-weight: 700;
}

.dropmenu-box {
  margin-top: 20px;
  width: 100%;
  display: none;
}
@media screen and (max-width: 768px) {
  .dropmenu-box {
    display: block;
  }
}

.page-nav > .breadcrumbs {
  font-size: 16px;
  text-align: end;
}
.page-nav > ul {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .page-nav > ul {
    display: none;
  }
}
.page-nav > ul > li {
  margin: 0 10px;
}
.page-nav > ul > li:last-child {
  margin-right: 0px;
}

.news-card, .news .card, .news-box .chief .card, .news-box .vice .card {
  background-color: #fff;
  height: 100%;
}
.news-card .img, .news .card .img, .news-box .chief .card .img, .news-box .vice .card .img {
  position: relative;
  overflow: hidden;
}
.news-card .img:hover img, .news .card .img:hover img, .news-box .chief .card .img:hover img, .news-box .vice .card .img:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.news-card .img::after, .news .card .img::after, .news-box .chief .card .img::after, .news-box .vice .card .img::after {
  content: "Details+";
  color: #fff;
  display: block;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
  border: 2px solid #fff;
  line-height: 40px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 2;
}
.news-card .img:hover::after, .news .card .img:hover::after, .news-box .chief .card .img:hover::after, .news-box .vice .card .img:hover::after {
  top: 50%;
  opacity: 1;
}
.news-card .img::before, .news .card .img::before, .news-box .chief .card .img::before, .news-box .vice .card .img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  z-index: 1;
}
.news-card .img:hover::before, .news .card .img:hover::before, .news-box .chief .card .img:hover::before, .news-box .vice .card .img:hover::before {
  opacity: 0.5;
}
.news-card .txt, .news .card .txt, .news-box .chief .card .txt, .news-box .vice .card .txt {
  margin: 15px 0;
  padding: 0 15px;
  font-size: 16px;
}
.news-card .txt h3, .news .card .txt h3, .news-box .chief .card .txt h3, .news-box .vice .card .txt h3 {
  font-size: 20px;
  margin: 15px 0;
}
.news-card a, .news .card a, .news-box .chief .card a, .news-box .vice .card a {
  border-top: 1px solid #000;
  padding-top: 20px;
  margin-top: 20px;
  display: block;
  text-align: end;
}

.main-index {
  position: relative;
}
.main-index .logo {
  position: absolute;
  z-index: 999;
  top: 50px;
  left: 50px;
}
.main-index .logo img {
  width: 80px;
}

.index-carousel {
  position: relative;
}
.index-carousel img {
  height: 870px;
  object-fit: cover;
}

.index-carousel .slick-dots {
  position: absolute;
  left: 350px;
  width: 20px;
  height: 280px;
}
@media screen and (max-width: 992px) {
  .index-carousel .slick-dots {
    left: 10%;
  }
}
.index-carousel .slick-dots li {
  margin: 15px 0px;
  width: 22px;
  height: 22px;
}
.index-carousel .slick-dots li button::before {
  background: #ffffff;
  opacity: 1;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 7px;
  left: 7px;
}
.index-carousel .slick-dots .slick-active {
  border: 1px solid rgb(255, 255, 255);
}

.index-slogan {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 80%;
  z-index: 1;
  top: 20%;
  left: 15%;
}
.index-slogan .slogan {
  font-size: 7rem;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  .index-slogan .slogan {
    font-size: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .index-slogan .slogan {
    font-size: 3rem;
  }
}
.index-slogan .slogan::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: #ffffff;
}
.index-slogan .about {
  margin-top: 10%;
  margin-left: 5%;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 450px) {
  .index-slogan .about samp {
    font-size: 1rem;
  }
}

.copyright {
  position: absolute;
  writing-mode: vertical-rl;
  top: 20%;
  right: 5%;
  font-size: 1rem;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .copyright {
    display: none;
  }
}

.move-icon-a {
  top: 800px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.move-icon-a::after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
  animation: rotate 2s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
  position: absolute;
  top: 30px;
  left: 8px;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(135deg);
  }
}
.move-icon-a .dot,
.move-icon-a .next {
  width: 15px;
  height: 15px;
  display: block;
  margin: 10px auto;
}
.move-icon-a .dot {
  background-color: #ffffff;
  border-radius: 50%;
}
.move-icon-a .next {
  transform: rotate(315deg);
  border-bottom: 3px solid rgb(255, 255, 255);
  border-left: 3px solid rgb(255, 255, 255);
}

.index-learn-more {
  background-image: url("../img/main_bg.png");
  height: 800px;
  position: relative;
}
@media screen and (max-width: 450px) {
  .index-learn-more {
    height: 600px;
  }
}

.center {
  height: 100%;
  position: relative;
}
.center .center-people {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .center .center-people {
    width: 100%;
    height: 100%;
  }
  .center .center-people > img {
    width: 200%;
    height: 100%;
    object-fit: cover;
  }
}
.center .egg {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 260px;
  height: 370px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  z-index: 2;
}
@media screen and (max-width: 992px) {
  .center .egg {
    width: 230px;
  }
}
@media screen and (max-width: 900px) {
  .center .egg {
    width: 180px;
    height: 240px;
  }
}
@media screen and (max-width: 768px) {
  .center .egg {
    width: 180px;
    height: 240px;
  }
}
.center .buffalo,
.center .farmer,
.center .room,
.center .bird,
.center .slogan,
.center .about,
.center .about-en {
  position: absolute;
  top: 50%;
  left: 50%;
}
@media screen and (max-width: 1200px) {
  .center .buffalo,
  .center .farmer,
  .center .room,
  .center .bird,
  .center .slogan,
  .center .about,
  .center .about-en {
    display: none;
  }
}
.center .buffalo {
  z-index: 1;
  transform: translate(-100%, 55%);
}
.center .farmer {
  z-index: 1;
  transform: translate(50%, 30%);
}
.center .room {
  z-index: -1;
  transform: translate(30%, -18%);
}
.center .bird {
  z-index: 2;
  transform: translate(45%, -250%);
}
.center .slogan {
  font-size: 1rem;
  letter-spacing: 6px;
  line-height: 30px;
  transform: translate(-260%, -450%);
}
.center .slogan::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background-color: #c69000;
}
.center .about {
  transform: translate(220%, -125%);
  font-size: 1.2rem;
  writing-mode: vertical-rl;
}
.center .about-en {
  transform: translate(-1550%, 25%);
  writing-mode: vertical-rl;
  font-size: 1rem;
}

.learn-more-box {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 250px;
  height: 250px;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
  font-size: 1.2rem;
}
.learn-more-box img {
  width: 60px;
  height: 60px;
}
.learn-more-box .txt {
  margin: 20px 0;
}
.learn-more-box .txt .tw {
  letter-spacing: 5px;
  font-weight: 700;
  margin-bottom: 5px;
}
.learn-more-box a .txt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn-more-box a .txt::after, .learn-more-box a .txt::before {
  display: block;
  content: "";
  width: 40px;
  height: 1px;
  background-color: #d3d3d3;
}
.learn-more-box a .txt::after {
  margin-left: 20px;
}
.learn-more-box a .txt::before {
  margin-right: 20px;
}
.learn-more-box a .icon {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #c69000;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
}

.index-advantage {
  position: relative;
  background-image: url("../img/main_bg.png");
  font-size: 1.2rem;
}
.index-advantage::after {
  top: 0;
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/features_bg.png");
  background-repeat: no-repeat;
  height: 50%;
  width: 100%;
}
.index-advantage .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 250px;
}
.index-advantage .container .slogan {
  position: absolute;
  text-align: center;
  top: 10%;
  left: 45%;
  writing-mode: vertical-rl;
  z-index: 1;
}
@media screen and (max-width: 450px) {
  .index-advantage .container .slogan {
    top: 3%;
  }
}
.index-advantage .container .slogan samp {
  border: #c69000 1px solid;
}
.index-advantage .container .txt {
  width: 50%;
  padding-right: 70px;
}
@media screen and (max-width: 992px) {
  .index-advantage .container .txt {
    width: 100%;
    padding: 0 50px;
  }
}
.index-advantage .container .txt .en {
  font-size: 3rem;
}
.index-advantage .container .txt .tw {
  font-size: 1.4rem;
  margin-top: 20px;
}
.index-advantage .container .txt li:nth-child(1) {
  margin-top: 60px;
  border-top: 1px dashed rgb(0, 0, 0);
}
.index-advantage .container .txt li {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed rgb(0, 0, 0);
  padding: 10px 0;
}
.index-advantage .container .txt li:hover {
  color: #c69000;
  border-bottom: 1px dashed #c69000;
}
.index-advantage .container .txt li:hover .icon {
  background-color: #c69000;
  color: #ffffff;
}
.index-advantage .container .txt li h3 {
  width: 85%;
  margin-left: 20px;
  font-size: 1.2em;
}
@media screen and (max-width: 450px) {
  .index-advantage .container .txt li h3 {
    font-size: 1rem;
  }
}
.index-advantage .container .txt li .icon {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 50%;
}

.advantage-current {
  color: #c69000;
  border-bottom: 1px dashed #c69000;
}
.advantage-current .icon {
  background-color: #c69000;
  color: #ffffff;
}

.advantage-carousel {
  width: 50%;
}
@media screen and (max-width: 992px) {
  .advantage-carousel {
    width: 100%;
    padding: 0 50px;
  }
}
.advantage-carousel .card {
  padding: 20px 0px 20px 20px;
  background-color: #ffffff;
  line-height: 30px;
  font-size: 1rem;
}
.advantage-carousel .card samp {
  font-weight: 600;
}
.advantage-carousel .card p {
  width: 95%;
  margin-top: 20px;
}
.advantage-carousel .card img {
  width: 95%;
}

.product {
  background-image: url("../img/main_bg.png");
  padding: 100px 0;
}
.product .txt {
  text-align: center;
  letter-spacing: 5px;
  font-size: 1.2rem;
}
.product .txt .en {
  font-size: 4.8rem;
}
@media screen and (max-width: 450px) {
  .product .txt .en {
    font-size: 2rem;
  }
}
.product .txt .tw {
  font-size: 1.5rem;
  margin: 20px 0;
}

.product-carousel {
  max-width: 1200px;
  height: 450px;
  margin: auto;
  position: relative;
}
.product-carousel .more-box {
  top: 380px;
  position: absolute;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .product-carousel .more-box {
    top: 450px;
  }
}
@media screen and (min-width: 992px) {
  .product-carousel .more-box::after, .product-carousel .more-box::before {
    position: absolute;
    content: "";
    display: block;
    width: 30%;
    border-top: 1px solid #6d6565;
    top: 30%;
  }
  .product-carousel .more-box::after {
    left: 5%;
  }
  .product-carousel .more-box::before {
    right: 5%;
  }
}
.product-carousel .more-box .commodity-prev,
.product-carousel .more-box .commodity-next {
  margin-top: 8px;
}

.product-container .card {
  margin: 20px;
}
.product-container .card > .img {
  width: 75%;
  margin: auto;
}
.product-container .card > .img img {
  width: 80%;
  transition: 0.5s ease;
  margin: auto;
}
.product-container .card > .img img:hover {
  width: 90%;
  opacity: 0.8;
}
.product-container .card > .txt {
  margin-top: 15px;
}
.product-container .card > .txt > h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.latest-news {
  height: 800px;
  background-image: url("../img/news_bg.jpg");
}

.news-box {
  max-width: 1200px;
  margin: auto;
  padding: 100px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-box .vice {
  width: 43%;
}
@media screen and (max-width: 992px) {
  .news-box .vice {
    display: none;
  }
}
.news-box .vice .card .txt {
  margin-top: 50px;
}
.news-box .chief {
  width: 55%;
}
@media screen and (max-width: 992px) {
  .news-box .chief {
    width: 100%;
  }
}
.news-box .chief .txt-h2 {
  margin-bottom: 20px;
  margin-left: 8px;
}
@media screen and (max-width: 992px) {
  .news-box .chief .txt-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.news-box .chief .txt-h2 .en {
  font-size: 2.5rem;
}
@media screen and (max-width: 360px) {
  .news-box .chief .txt-h2 .en {
    font-size: 2rem;
  }
}
.news-box .chief .txt-h2 .tw {
  margin: 15px 0;
  font-size: 1.5rem;
}
.news-box .chief .card {
  margin: 0 10px;
}

.store-link {
  display: flex;
  flex-wrap: wrap;
}
.store-link .store,
.store-link .on-line {
  width: 50%;
  background-size: cover;
}
@media screen and (max-width: 992px) {
  .store-link .store,
  .store-link .on-line {
    width: 100%;
  }
}
.store-link .store {
  background-image: url("../img/twL_marqueepic_21E01_6vichy4twm.jpg");
}
.store-link .on-line {
  background-image: url("../img/twL_marqueepic_21E01_d76v9gq2ma.jpg");
}
.store-link .txt {
  margin: 80px 0 80px 20%;
  color: #ffffff;
  font-size: 2.5rem;
  letter-spacing: 3px;
}
@media screen and (max-width: 450px) {
  .store-link .txt {
    font-size: 1.5rem;
  }
}
.store-link .txt .tw {
  font-size: 1.5rem;
  margin: 15px 0px;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  font-size: 1.5rem;
}
.about-content .column-1 {
  width: 66%;
}
.about-content .column-1 p {
  margin: 40px 0 10px 24px;
  font-size: 1rem;
  line-height: 30px;
  width: 90%;
}
.about-content .column-1 p samp {
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 450px) {
  .about-content .column-1 p samp {
    font-size: 1rem;
  }
}
.about-content .column-2 {
  width: 33%;
}
@media screen and (max-width: 768px) {
  .about-content {
    flex-wrap: wrap;
  }
  .about-content .column-1,
  .about-content .column-2 {
    width: 100%;
  }
}

.quality-content {
  display: flex;
  flex-direction: column;
}

.process-container {
  position: relative;
  margin-bottom: 30px;
  background-color: #fff;
  display: flex;
}
@media screen and (max-width: 768px) {
  .process-container {
    flex-wrap: wrap;
  }
}
.process-container::before {
  content: "";
  position: absolute;
  top: 30%;
  width: 100%;
  border: 1px solid #dadada;
}
@media screen and (max-width: 768px) {
  .process-container::before {
    display: none;
  }
}
.process-container > .txt {
  position: relative;
  width: 20%;
  margin: 200px 35px 0 35px;
  line-height: 24px;
  font-size: 1rem;
}
@media screen and (max-width: 1200px) {
  .process-container > .txt {
    margin: 200px 10px 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .process-container > .txt {
    width: 100%;
    margin: 20px;
    order: 1;
  }
}
.process-container > .txt::after, .process-container > .txt::before {
  content: "";
  position: absolute;
}
.process-container > .txt::after {
  top: -34%;
  left: 50px;
  width: 60px;
  border: 2px solid #c69000;
}
@media screen and (max-width: 768px) {
  .process-container > .txt::after {
    top: 110%;
  }
}
.process-container > .txt::before {
  top: 110%;
  width: 100%;
  border: 1px solid #dadada;
  display: none;
}
@media screen and (max-width: 768px) {
  .process-container > .txt::before {
    display: block;
  }
}
.process-container > .txt > h2 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.process-container .car-btn-box {
  margin-top: 40px;
}
@media screen and (max-width: 992px) {
  .process-container .car-btn-box {
    margin-top: 10px;
  }
}

.process-carousel,
.quality-carousel {
  display: flex;
  width: 80%;
  height: 420px;
}
@media screen and (max-width: 768px) {
  .process-carousel,
  .quality-carousel {
    width: 100%;
    order: 2;
  }
}
.process-carousel .card,
.quality-carousel .card {
  padding: 20px;
}
.process-carousel .card > .img,
.quality-carousel .card > .img {
  width: 175px;
  margin: 0 auto;
}
.process-carousel .card > .img > img,
.quality-carousel .card > .img > img {
  border-radius: 50%;
}
.process-carousel .card > .txt,
.quality-carousel .card > .txt {
  width: 260px;
}
@media screen and (max-width: 992px) {
  .process-carousel .card > .txt,
  .quality-carousel .card > .txt {
    margin: auto;
    width: 200px;
  }
}
.process-carousel .card > .txt > h3,
.quality-carousel .card > .txt > h3 {
  font-size: 1.2rem;
}
.process-carousel .card > .txt > h3 > samp,
.quality-carousel .card > .txt > h3 > samp {
  margin-right: 20px;
  font-size: 1.8rem;
  color: #c69000;
}
.process-carousel .card > .txt > p,
.quality-carousel .card > .txt > p {
  width: 90%;
  margin: 20px auto 0 auto;
  font-size: 1rem;
  line-height: 24px;
}
@media screen and (max-width: 1080px) {
  .process-carousel .card > .txt > p,
  .quality-carousel .card > .txt > p {
    width: 80%;
    margin-left: 0px;
  }
}
@media screen and (max-width: 992px) {
  .process-carousel .card > .txt > p,
  .quality-carousel .card > .txt > p {
    width: 90%;
    margin: 20px auto 0 auto;
  }
}

.shop {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
  .shop {
    justify-content: center;
  }
}
.shop > .card {
  width: 25%;
  padding: 0 25px;
  margin-bottom: 50px;
  font-size: 1rem;
}
@media screen and (max-width: 1100px) {
  .shop > .card {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1000px) {
  .shop > .card {
    padding: 0 5px;
  }
}
@media screen and (max-width: 992px) {
  .shop > .card {
    width: 33.33%;
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .shop > .card {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .shop > .card {
    width: 80%;
  }
}
.shop > .card > .img {
  width: 75%;
  margin: auto;
  height: 240px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .shop > .card > .img {
    width: 90%;
  }
}
.shop > .card > .img img {
  width: 95%;
  transition: 0.5s ease;
}
.shop > .card > .img img:hover {
  width: 100%;
  opacity: 0.8;
}
.shop > .card > .txt {
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  .shop > .card > .txt {
    margin-top: 55px;
  }
}
@media screen and (max-width: 900px) {
  .shop > .card > .txt {
    margin-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .shop > .card > .txt {
    margin-top: 80px;
  }
}
@media screen and (max-width: 700px) {
  .shop > .card > .txt {
    margin-top: 100px;
  }
}
@media screen and (max-width: 650px) {
  .shop > .card > .txt {
    margin-top: 70px;
  }
}
@media screen and (max-width: 600px) {
  .shop > .card > .txt {
    margin-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  .shop > .card > .txt {
    margin-top: 120px;
  }
}
@media screen and (max-width: 430px) {
  .shop > .card > .txt {
    margin-top: 70px;
  }
}
@media screen and (max-width: 370px) {
  .shop > .card > .txt {
    margin-top: 20px;
  }
}
.shop > .card > .txt > h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.recipes {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  flex-direction: column;
}
.recipes .card {
  width: 50%;
}
.recipes .card img {
  height: 100%;
}
.recipes .card .txt {
  display: flex;
  background-color: #eeeeee;
  line-height: 24px;
  font-size: 1rem;
}
.recipes .card .introduce-box {
  padding: 30px;
}
.recipes .card .introduce-box h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.recipes .card .link-box {
  padding: 30px 15px;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: end;
}
.recipes .card .link-box i {
  color: #c69000;
  margin: 0 15px;
}
.recipes .card .link-box a {
  width: 100%;
  font-size: 1rem;
  line-height: 60px;
  margin-top: 20px;
  border-top: 1px solid #c69000;
}
@media screen and (min-width: 1200px) {
  .recipes .card:nth-child(1) {
    height: 100%;
  }
  .recipes .card:nth-child(1) .img {
    height: 75%;
  }
  .recipes .card:nth-child(1) .txt {
    height: 25%;
  }
  .recipes .card:nth-child(1) .introduce-box,
  .recipes .card:nth-child(1) .link-box {
    width: 50%;
  }
  .recipes .card:nth-child(2),
  .recipes .card:nth-child(3) {
    display: flex;
    height: 50%;
  }
  .recipes .card:nth-child(2) .img,
  .recipes .card:nth-child(2) .txt,
  .recipes .card:nth-child(3) .img,
  .recipes .card:nth-child(3) .txt {
    width: 50%;
    height: 100%;
  }
  .recipes .card:nth-child(2) .txt,
  .recipes .card:nth-child(3) .txt {
    flex-direction: column;
  }
  .recipes .card:nth-child(2) .introduce-box,
  .recipes .card:nth-child(2) .link-box,
  .recipes .card:nth-child(3) .introduce-box,
  .recipes .card:nth-child(3) .link-box {
    height: 50%;
  }
  .recipes .card:nth-child(2) {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 1199.98px) {
  .recipes {
    height: auto;
    flex-direction: row;
  }
  .recipes .card {
    width: 33.33%;
    padding: 20px;
    flex-direction: row;
  }
  .recipes .card .img {
    width: 100%;
  }
  .recipes .card .txt {
    flex-wrap: wrap;
  }
  .recipes .card .introduce-box,
  .recipes .card .link-box {
    padding: 15px;
  }
}
@media screen and (max-width: 992px) {
  .recipes .card {
    width: 50%;
  }
  .recipes .card .link-box {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .recipes .card .link-box i {
    margin: 0 5px;
  }
}
@media screen and (max-width: 550px) {
  .recipes .card {
    width: 100%;
  }
}

.page-box {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.page-box a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #c69000;
  color: #c69000;
  text-align: center;
  line-height: 40px;
  margin: 10px;
  color: #000;
}
.page-box a:hover {
  color: #ffffff;
  background-color: #c69000;
}
.page-box a i {
  font-size: 1rem;
}

.location {
  display: flex;
  flex-wrap: wrap;
}
.location > .item {
  width: 20%;
  height: 200px;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
}
.location > .item:hover img {
  margin: 0;
}
.location > .item img {
  margin-top: 15px;
  position: absolute;
  transform: translate(-50%, -20%);
  width: 80%;
  transition: 1s ease;
}
.location > .item h3 {
  margin-top: 130px;
}
@media screen and (max-width: 992px) {
  .location > .item {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .location > .item {
    width: 50%;
  }
  .location > .item img {
    width: 55%;
  }
}
@media screen and (max-width: 500px) {
  .location > .item {
    width: 100%;
  }
  .location > .item img {
    width: 60%;
  }
  .location > .item h3 {
    display: none;
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.news .card {
  width: 30%;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .news .card {
    width: 47%;
  }
}
@media screen and (max-width: 500px) {
  .news .card {
    width: 100%;
  }
}

.contact-txt {
  font-size: 1.2rem;
  line-height: 30px;
  margin: 20px 0;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-form .question,
.contact-form .sex {
  width: 100%;
  margin-bottom: 20px;
}
.contact-form .name,
.contact-form .telephone,
.contact-form .mobile-phone,
.contact-form .email,
.contact-form .message {
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  margin-bottom: 20px;
}
.contact-form .name input,
.contact-form .telephone input,
.contact-form .mobile-phone input,
.contact-form .email input,
.contact-form .message input {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .contact-form .name,
  .contact-form .telephone,
  .contact-form .mobile-phone,
  .contact-form .email,
  .contact-form .message {
    width: 100%;
  }
}
.contact-form .message,
.contact-form #message {
  width: 100%;
}
.contact-form .name::before,
.contact-form .email::before,
.contact-form .message::before {
  content: "※";
  color: #ff0000;
}
.contact-form button {
  border: 1px solid #c69000;
  width: 200px;
  height: 60px;
  background-color: #fff;
}

/*登入頁樣式*/
.login {
  width: 90%;
  background-color: #fff;
  display: flex;
  margin: auto;
  box-shadow: 0px 0px 15px 0px rgba(4, 4, 4, 0.1);
  padding: 90px 30px;
}
@media screen and (max-width: 768px) {
  .login {
    flex-wrap: wrap;
  }
}

.login-box,
.third-party-box {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 40px;
}
@media screen and (max-width: 768px) {
  .login-box,
  .third-party-box {
    width: 100%;
    padding: 40px;
  }
}

.login-box {
  justify-content: space-around;
}
.login-box > h2 {
  font-size: 24px;
}
.login-box > h2 samp {
  font-size: 30px;
  color: #c69000;
}
.login-box > p {
  font-size: 20px;
  line-height: 40px;
}
.login-box > .btn-box {
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.login-box > .btn-box a:nth-child(1) {
  margin-right: 10px;
}
.login-box > .btn-box a:nth-child(1)::after {
  content: "";
  position: absolute;
  height: 80%;
  border: 1px solid #000000;
  left: 70px;
}

.account-box,
.password-box {
  position: relative;
}
.account-box .loginbar,
.password-box .loginbar {
  margin: 25px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
}
.account-box .loginbar:focus,
.password-box .loginbar:focus {
  border-bottom: 1px solid #c69000;
}
.account-box label,
.password-box label {
  position: absolute;
  top: 20px;
  left: 0;
  transition: 0.3s ease;
}

.loginbar:focus + label {
  top: 0;
}

.login-member {
  background-color: #c69000;
  border: none;
}

.regsiter {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.regsiter a {
  color: #c69000;
  text-decoration: underline;
}

.third-party-box {
  border-left: 1px solid #000000;
  position: relative;
  display: flex;
  align-items: center;
}
.third-party-box::after {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  content: "OR";
  height: 50px;
  width: 50px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .third-party-box {
    border-left: none;
    border-top: 1px solid #000000;
  }
  .third-party-box::after {
    top: 0%;
    left: 50%;
  }
}

.login-button {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #fff;
  margin: 20px 0;
  line-height: 50px;
}
.login-button:hover {
  color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(4, 4, 4, 0.5);
  transition: transform 0.5s ease;
  transform: translateY(-5px);
}

.login-fb {
  background-color: #3b5781;
}

.login-line {
  background-color: #00b900;
}

.shopping-box-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.mask-close {
  display: none;
}

.shopping-box {
  width: 480px;
  min-height: 300px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shopping-box .closure {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #c69000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.select-qty {
  margin: 20px 0;
  font-size: 18px;
}
.select-qty .qty {
  font-size: 28px;
  color: #c69000;
  margin: 0 5px;
}

.checkout {
  width: 200px;
  height: 40px;
  background-color: #c69000;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.checkout:hover {
  color: #fff;
}/*# sourceMappingURL=all.css.map */