// 各頁面
// 關於樂米
.about-content {
    display: flex;
    font-size: 1.5rem;

    .column-1 {
        width: 66%;

        p {
            margin: 40px 0 10px 24px;
            font-size: 1rem;
            line-height: 30px;
            width: 90%;

            samp {
                font-size: 1.5rem;
                font-weight: 700;

                @media screen and (max-width:450px) {
                    font-size: 1rem;
                }
            }
        }
    }

    .column-2 {
        width: 33%;
    }

    @media screen and (max-width:768px) {
        flex-wrap: wrap;

        .column-1,
        .column-2 {
            width: 100%;
        }
    }
}


// 嚴選品質
.quality-content {
    display: flex;
    flex-direction: column;
}

//輪播容器
.process-container {
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
    display: flex;

    @media screen and (max-width:768px) {
        flex-wrap: wrap;
    }

    // 裝飾線
    &::before {
        content: "";
        position: absolute;
        top: 30%;
        width: 100%;
        border: 1px solid #dadada;

        @media screen and (max-width:768px) {
            display: none;
        }

    }

    >.txt {
        position: relative;
        width: 20%;
        margin: 200px 35px 0 35px;
        line-height: 24px;
        font-size: 1rem;

        @media screen and (max-width:1200px) {
            margin: 200px 10px 0 10px;
        }

        @media screen and (max-width:768px) {
            width: 100%;
            margin: 20px;
            // height: 100px;
            order: 1;
        }

        // 裝飾線
        &::after,
        &::before {
            content: "";
            position: absolute;
        }

        &::after {
            top: -34%;
            left: 50px;
            width: 60px;
            border: 2px solid #c69000;

            @media screen and (max-width:768px) {
                top: 110%;
            }
        }

        // 裝飾線
        &::before {
            top: 110%;
            width: 100%;
            border: 1px solid #dadada;
            display: none;

            @media screen and (max-width:768px) {
                display: block;
            }

        }

        >h2 {
            font-weight: 700;
            font-size: 1.3rem;
            margin-bottom: 20px;
        }
    }

    // 按鈕組
    .car-btn-box {
        margin-top: 40px;

        @media screen and (max-width:992px) {
            margin-top: 10px;
        }
    }
}

// 輪播
.process-carousel,
.quality-carousel {
    display: flex;
    width: 80%;
    height: 420px;

    @media screen and (max-width:768px) {
        width: 100%;
        order: 2;
    }

    .card {
        padding: 20px;

        >.img {
            width: 175px;
            margin: 0 auto;

            >img {
                border-radius: 50%;
            }
        }

        >.txt {
            width: 260px;

            @media screen and (max-width:992px) {
                margin: auto;
                width: 200px;
            }

            >h3 {
                font-size: 1.2rem;

                >samp {
                    margin-right: 20px;
                    font-size: 1.8rem;
                    color: #c69000;
                }
            }

            >p {
                width: 90%;
                margin: 20px auto 0 auto;
                font-size: 1rem;
                line-height: 24px;

                @media screen and (max-width:1080px) {
                    width: 80%;
                    margin-left: 0px;
                }

                @media screen and (max-width:992px) {
                    width: 90%;
                    margin: 20px auto 0 auto;
                }
            }
        }
    }
}



// 線上購物
.shop {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width:500px) {
        justify-content: center;
    }

    >.card {
        width: 25%;
        padding: 0 25px;
        margin-bottom: 50px;
        font-size: 1rem;

        @media screen and (max-width:1100px) {
            padding: 0 15px;
        }

        @media screen and (max-width:1000px) {
            padding: 0 5px;
        }


        @media screen and (max-width:992px) {
            width: 33.33%;
            padding: 0 15px;
        }

        @media screen and (max-width:768px) {
            width: 50%;
        }

        @media screen and (max-width:500px) {
            width: 80%;
        }



        >.img {
            width: 75%;
            margin: auto;
            height: 240px;
            text-align: center;

            @media screen and (max-width:700px) {
                width: 90%;
            }

            img {
                width: 95%;
                transition: 0.5s ease;

                &:hover {
                    width: 100%;
                    opacity: 0.8;
                }
            }
        }

        >.txt {
            margin-top: 20px;

            @media screen and (max-width:992px) {
                margin-top: 55px;
            }

            @media screen and (max-width:900px) {
                margin-top: 0px;
            }

            @media screen and (max-width:768px) {
                margin-top: 80px;
            }

            @media screen and (max-width:700px) {
                margin-top: 100px;
            }

            @media screen and (max-width:650px) {
                margin-top: 70px;
            }

            @media screen and (max-width:600px) {
                margin-top: 50px;
            }

            @media screen and (max-width:500px) {
                margin-top: 120px;
            }

            @media screen and (max-width:430px) {
                margin-top: 70px;
            }

            @media screen and (max-width:370px) {
                margin-top: 20px;
            }


            >h3 {
                font-size: 1.2rem;
                font-weight: 700;
                margin-bottom: 15px;
            }
        }
    }
}


//食譜
.recipes {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    flex-direction: column;

    .card {
        width: 50%;

        img {
            height: 100%;
        }

        .txt {
            display: flex;
            background-color: #eeeeee;
            line-height: 24px;
            font-size: 1rem;
        }

        .introduce-box {
            padding: 30px;

            h3 {
                font-size: 1.2rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
        }

        .link-box {
            padding: 30px 15px;
            font-size: 1.5rem;
            display: flex;
            flex-wrap: wrap;
            text-align: end;

            i {
                color: #c69000;
                margin: 0 15px;
            }

            a {
                width: 100%;
                font-size: 1rem;
                line-height: 60px;
                margin-top: 20px;
                border-top: 1px solid #c69000;
            }
        }
    }

    // 左1右2版面
    @media screen and (min-width:1200px) {
        .card:nth-child(1) {
            height: 100%;

            .img {
                height: 75%;
            }

            .txt {
                height: 25%;
            }

            .introduce-box,
            .link-box {
                width: 50%;
            }
        }

        .card:nth-child(2),
        .card:nth-child(3) {
            display: flex;
            height: 50%;

            .img,
            .txt {
                width: 50%;
                height: 100%;
            }

            .txt {
                flex-direction: column;
            }

            .introduce-box,
            .link-box {
                height: 50%;
            }
        }

        .card:nth-child(2) {
            flex-direction: row-reverse;
        }
    }

    @media screen and (max-width:1199.98px) {
        height: auto;
        flex-direction: row;

        .card {
            width: 33.33%;
            padding: 20px;
            flex-direction: row;

            .img {
                width: 100%;
            }

            .txt {
                flex-wrap: wrap;

            }

            .introduce-box,
            .link-box {
                padding: 15px;
            }
        }
    }

    @media screen and (max-width:992px) {
        .card {
            width: 50%;

            .link-box {
                width: 100%;
            }
        }
    }

    @media screen and (max-width:700px) {
        .card .link-box i {
            margin: 0 5px;
        }
    }

    @media screen and (max-width:550px) {
        .card {
            width: 100%;
        }
    }
}


// 頁碼
.page-box {
    display: flex;
    justify-content: center;
    margin: 50px 0;

    a {
        @include icon-r-y-40;
        margin: 10px;
        color: #000;

        &:hover {
            color: #ffffff;
            background-color: #c69000;
        }

        i {
            font-size: 1rem;
        }
    }
}


//通路
.location {
    display: flex;
    flex-wrap: wrap;

    >.item {
        width: 20%;
        height: 200px;
        padding: 20px;
        font-size: 1.2rem;
        text-align: center;
        font-weight: 600;
        position: relative;
        margin-bottom: 20px;

        &:hover img {
            margin: 0;
        }

        img {
            margin-top: 15px;
            position: absolute;
            transform: translate(-50%, -20%);
            width: 80%;
            transition: 1s ease;
        }

        h3 {
            margin-top: 130px;
        }
    }

    @media screen and (max-width:992px) {
        >.item {
            width: 25%;
        }
    }

    @media screen and (max-width:768px) {
        >.item {
            width: 50%;

            img {
                width: 55%;
            }
        }
    }

    @media screen and (max-width:500px) {
        >.item {
            width: 100%;

            img {
                width: 60%;
            }

            h3 {
                display: none;
            }
        }
    }
}



//最新消息
.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .card {
        width: 30%;
        @extend .news-card;
        margin-bottom: 20px;
    }

    @media screen and (max-width:992px) {
        .card {
            width: 47%;
        }
    }

    @media screen and (max-width:500px) {
        .card {
            width: 100%;
        }
    }
}


//聯絡我們
.contact-txt {
    font-size: 1.2rem;
    line-height: 30px;
    margin: 20px 0;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .question,
    .sex {
        width: 100%;
        margin-bottom: 20px;
    }

    .name,
    .telephone,
    .mobile-phone,
    .email,
    .message {
        display: flex;
        flex-wrap: wrap;
        width: 48%;
        margin-bottom: 20px;

        input {
            width: 100%;
        }

        @media screen and (max-width:768px) {
            width: 100%;
        }
    }


    .message,
    #message {
        width: 100%;
    }

    // 必填*號
    .name,
    .email,
    .message {
        &::before {
            content: "※";
            color: #ff0000;
        }
    }

    // 提交
    button {
        border: 1px solid #c69000;
        width: 200px;
        height: 60px;
        background-color: #fff;
    }
}