// 首頁
.main-index {
    position: relative;

    .logo {
        position: absolute;
        z-index: 999;
        top: 50px;
        left: 50px;

        img {
            width: 80px;
        }
    }
}


// 輪播
.index-carousel {
    position: relative;

    img {
        height: 870px;
        object-fit: cover;
    }
}


// 顯示點
.index-carousel .slick-dots {
    position: absolute;
    left: 350px;
    width: 20px;
    height: 280px;

    @media screen and (max-width:992px) {
        left: 10%;
    }

    li {
        margin: 15px 0px;
        width: 22px;
        height: 22px;

        button::before {
            background: #ffffff;
            opacity: 1;
            width: 6px;
            height: 6px;
            position: absolute;
            top: 7px;
            left: 7px;
        }
    }

    .slick-active {
        border: 1px solid rgb(255, 255, 255);
    }
}

// 少裝飾

//標語
.index-slogan {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 80%;
    z-index: 1;
    top: 20%;
    left: 15%;

    .slogan {
        font-size: 110px;
        font-weight: 700;
        color: #ffffff;

        @media screen and (max-width:992px) {
            font-size: 65px;
        }

        &::after {
            content: '';
            display: block;
            width: 100px;
            height: 5px;
            background-color: #ffffff;
        }
    }

    .about {
        margin-top: 10%;
        margin-left: 5%;
        writing-mode: vertical-rl;

        samp {
            @extend .txt-bc-w;
        }
    }
}

.copyright {
    position: absolute;
    writing-mode: vertical-rl;
    top: 20%;
    right: 5%;
    font-size: 16px;
    z-index: 1;

    @media screen and (max-width:1200px) {
        display: none;
    }
}

//移動圖示
.move-icon-a {
    top: 800px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    &::after {
        content: '';
        width: 60px;
        height: 60px;
        border-radius: 5px;
        border: 3px solid rgb(255, 255, 255);
        animation: rotate 2s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
        position: absolute;
        top: 30px;
        left: 8px;
    }

    @keyframes rotate {
        0% {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }

    .dot,
    .next {
        width: 15px;
        height: 15px;
        display: block;
        margin: 10px auto;
    }

    .dot {
        background-color: #ffffff;
        border-radius: 50%;
    }

    .next {
        transform: rotate(315deg);
        border-bottom: 3px solid rgb(255, 255, 255);
        border-left: 3px solid rgb(255, 255, 255);
    }
}


//了解我們
.index-learn-more {
    background-image: url("../img/main_bg.png");
    height: 800px;
    position: relative;
}

.center-people {
    background-image: url("../img/people.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    position: relative;

    .buffalo,
    .farmer,
    .room,
    .bird,
    .slogan,
    .about,
    .about-en {
        position: absolute;
        top: 50%;
        left: 50%;

        @media screen and (max-width:1200px) {
            display: none;
        }
    }


    .egg {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 260px;
        height: 370px;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        z-index: 2;
    }

    .buffalo {
        z-index: 1;
        transform: translate(-100%, 55%);
    }

    .farmer {
        z-index: 1;
        transform: translate(50%, 30%);
    }

    .room {
        z-index: -1;
        transform: translate(30%, -18%);
    }

    .bird {
        z-index: 2;
        transform: translate(45%, -250%);
    }

    .slogan {
        font-size: 16px;
        letter-spacing: 6px;
        line-height: 30px;
        transform: translate(-260%, -450%);

        &::after {
            content: '';
            display: block;
            width: 60px;
            height: 5px;
            background-color: #c69000;
        }
    }

    .about {
        transform: translate(220%, -125%);
        font-size: 20px;
        writing-mode: vertical-rl;
        // z-index: 3;

        samp {
            @extend .txt-bc-w;
        }
    }

    .about-en {
        transform: translate(-1550%, 25%);
        writing-mode: vertical-rl;
        font-size: 16px;
        // z-index: 3;
    }
}


//了解更多-導航
.learn-more-box {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-align: center;
    font-size: 18px;

    img {
        width: 60px;
        height: 60px;
    }

    .txt {
        margin: 20px 0;

        .tw {
            letter-spacing: 5px;
            font-weight: 700;
            margin-bottom: 5px;
        }
    }

    a {
        .txt {
            display: flex;
            justify-content: center;
            align-items: center;

            &::after,
            &::before {
                display: block;
                content: '';
                width: 40px;
                height: 1px;
                background-color: #d3d3d3;
            }

            &::after {
                margin-left: 20px;
            }

            &::before {
                margin-right: 20px;
            }
        }

        .icon {
            display: block;
            width: 40px;
            height: 40px;
            background-color: #c69000;
            margin: auto;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
            color: #ffffff;
        }
    }
}



//優勢
.index-advantage {
    position: relative;
    background-image: url("../img/main_bg.png");
    font-size: 20px;

    &::after {
        top: 0;
        position: absolute;
        display: block;
        content: '';
        background-image: url("../img/features_bg.png");
        height: 340px;
        width: 100%;
    }


    .container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 250px;

        // 標語
        .slogan {
            position: absolute;
            text-align: center;
            top: 10%;
            left: 45%;
            writing-mode: vertical-rl;
            z-index: 1;

            samp {
                @extend .txt-bc-w;
                border: #c69000 1px solid;
            }
        }


        .txt {
            width: 50%;
            padding-right: 70px;

            @media screen and (max-width:992px) {
                width: 100%;
                padding: 0 50px;
            }

            .en {
                font-size: 70px;
            }

            .tw {
                font-size: 24px;
                margin-top: 20px;
            }

            // 列表
            li:nth-child(1) {
                margin-top: 60px;
                border-top: 1px dashed rgb(0, 0, 0);
            }

            li {
                display: flex;
                align-items: center;
                border-bottom: 1px dashed rgb(0, 0, 0);

                &:hover {
                    color: #c69000;
                    border-bottom: 1px dashed #c69000;
                }

                &:hover .icon {
                    background-color: #c69000;
                    color: #ffffff;
                }

                h3 {
                    width: 85%;
                    margin-left: 20px;
                    font-size: 20px;
                    line-height: 90px;
                }

                .icon {
                    width: 50px;
                    height: 50px;
                    border: 1px solid rgb(145, 145, 145);
                    border-radius: 50%;
                }
            }
        }
    }
}

.advantage-current {
    color: #c69000;
    border-bottom: 1px dashed #c69000;

    .icon {
        background-color: #c69000;
        color: #ffffff;
    }
}


.advantage-carousel {
    width: 50%;

    @media screen and (max-width:992px) {
        width: 100%;
        padding: 0 50px;
    }

    .card {
        padding: 20px 0px 20px 20px;
        background-color: #ffffff;
        line-height: 30px;

        samp {
            font-weight: 600;

        }

        p {
            width: 95%;
            margin-top: 20px;
            font-size: 16px;
        }

        img {
            width: 95%;
        }
    }
}




// 商品輪播
.product {
    background-image: url("../img/main_bg.png");
    padding: 100px 0;

    .txt {
        text-align: center;
        letter-spacing: 5px;
        font-size: 18px;

        .en {
            font-size: 80px;
        }

        .tw {
            font-size: 28px;
            margin: 20px 0;
        }
    }
}

.product-carousel {
    max-width: 1200px;
    height: 450px;
    margin: auto;
    position: relative;

    .more-box {
        top: 380px;

        @media screen and (max-width:992px) {
            top: 450px;
        }

        position: absolute;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;

        @media screen and (min-width:992px) {

            &::after,
            &::before {
                position: absolute;
                content: '';
                display: block;
                width: 30%;
                border-top: 1px solid #6d6565;
                top: 30%;
            }

            &::after {
                left: 5%;
            }

            &::before {
                right: 5%;
            }
        }

        .commodity-prev,
        .commodity-next {
            margin-top: 8px;
        }
    }
}

// 卡片之後改引用
.product-container {
    .card {
        margin: 20px;

        >.img {
            width: 75%;
            margin: auto;

            img {
                width: 80%;
                transition: 0.5s ease;
                margin: auto;

                &:hover {
                    width: 90%;
                    opacity: 0.8;

                }
            }
        }

        >.txt {
            margin-top: 15px;

            >h3 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 15px;
            }
        }
    }
}















//最新消息
.latest-news {
    height: 800px;
    background-image: url("../img/news_bg.jpg");
}

.news-box {
    max-width: 1200px;
    margin: auto;
    padding: 100px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .vice {
        width: 43%;

        @media screen and (max-width:992px) {
            display: none;
        }

        .card {
            @extend .news-card;

            .txt {
                margin-top: 50px;
            }
        }
    }

    .chief {
        width: 55%;

        @media screen and (max-width:992px) {
            width: 100%;
        }

        .txt-h2 {
            height: 140px;
            margin-left: 8px;

            .en {
                font-size: 40px;
            }

            .tw {
                margin: 15px 0;
                font-size: 24px;
            }
        }

        .card {
            @extend .news-card;
            margin: 0 10px;
        }
    }
}









// 通路
.store-link {
    display: flex;
    flex-wrap: wrap;

    .store,
    .on-line {
        width: 50%;
        background-size: cover;

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    .store {
        background-image: url("../img/twL_marqueepic_21E01_6vichy4twm.jpg");
    }

    .on-line {
        background-image: url("../img/twL_marqueepic_21E01_d76v9gq2ma.jpg");
    }

    .txt {
        margin: 80px 0 80px 20%;
        color: #ffffff;
        font-size: 40px;
        letter-spacing: 3px;

        .tw {
            font-size: 24px;
            margin: 15px 0px;
            margin-bottom: 20px;
        }
    }
}