/*登入頁樣式*/

.login {
    width: 90%;
    height: 620px;
    background-color: #fff;
    display: flex;
    margin: auto;
    box-shadow: 0px 0px 15px 0px rgba(4, 4, 4, 0.1);
    position: relative;

    &::after,
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::after {
        content: "OR";
        width: 50px;
        height: 50px;
        background-color: #fff;
        text-align: center;
        line-height: 50px;
    }

    &::before {
        content: "";
        border-left: 1px solid #000000;
        height: 70%;
    }
}

.login-box,
.third-party-box {
    padding: 90px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-box {
    justify-content: space-around;
}

.login-box {
    >h2 {
        font-size: 24px;

        samp {
            font-size: 30px;
            color: #c69000;
        }
    }

    >p {
        font-size: 20px;
        line-height: 40px;
    }

    >.btn-box {
        font-size: 16px;
        font-weight: 600;
        position: relative;

        a:nth-child(1) {
            margin-right: 10px;
        }

        a:nth-child(1)::after {
            content: "";
            position: absolute;
            height: 80%;
            border: 1px solid #000000;
            left: 70px;
        }
    }
}

.account-box,
.password-box {
    position: relative;

    .loginbar {
        margin: 25px 0;
        width: 100%;
        border: none;
        border-bottom: 1px solid #000000;
        position: relative;
        outline: none;

        &:focus {
            border-bottom: 1px solid #c69000;
        }
    }

    label {
        position: absolute;
        top: 20px;
        transition: 0.3s ease;
    }
}

.loginbar:focus+label {
    top: 0;
}

.login-member {
    background-color: #c69000;
    border: none;
}

.regsiter {
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    a {
        color: #c69000;
        text-decoration: underline;
    }
}

//第三方連結

.login-button {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    margin: 20px 0;
    line-height: 50px;

    &:hover {
        color: #fff;
        box-shadow: 0px 0px 15px 0px rgba(4, 4, 4, 0.5);
        transition: transform 0.5s ease;
        transform: translateY(-5px);
    }
}

.login-fb {
    background-color: #3b5781;
}

.login-line {
    background-color: #00b900;
}