/*登入頁樣式*/

.login {
    width: 90%;
    background-color: #fff;
    display: flex;
    margin: auto;
    box-shadow: 0px 0px 15px 0px rgba(4, 4, 4, 0.1);
    padding: 90px 30px;

    @media screen and (max-width:768px) {
        flex-wrap: wrap;
    }
}

.login-box,
.third-party-box {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;

    @media screen and (max-width:768px) {
        width: 100%;
        padding: 40px;
    }

    @media screen and (max-width:500px) {
        width: 100%;
        padding: 40px 0px;
    }
}

.login-box {
    justify-content: space-around;

    >h2 {
        font-size: 1.5rem;

        samp {
            font-size: 1.6rem;
            color: #c69000;
        }
    }

    >p {
        font-size: 1.2rem;
        line-height: 40px;
    }

    >.btn-box {
        font-size: 1rem;
        font-weight: 600;
        position: relative;

        a:nth-child(1) {
            margin-right: 10px;
        }

        a:nth-child(1)::after {
            content: "";
            position: absolute;
            height: 80%;
            border: 1px solid #000000;
            left: 70px;
        }
    }
}

// 帳號密碼
.account-box,
.password-box {
    position: relative;

    .loginbar {
        margin: 25px 0;
        width: 100%;
        border: none;
        border-bottom: 1px solid #000000;
        outline: none;

        &:focus {
            border-bottom: 1px solid #c69000;
        }
    }

    // 要改輸入文字要保持上升
    label {
        position: absolute;
        top: 20px;
        left: 0;
        transition: 0.3s ease;
    }
}

.loginbar:focus+label {
    top: 0;
}

.login-member {
    background-color: #c69000;
    border: none;
}

.regsiter {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;

    a {
        color: #c69000;
        text-decoration: underline;
    }
}

//第三方連結
.third-party-box {
    border-left: 1px solid #000000;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
        content: "OR";
        height: 50px;
        width: 50px;
        background-color: #fff;
        line-height: 50px;
        text-align: center;
    }

    @media screen and (max-width:768px) {
        border-left: none;
        border-top: 1px solid #000000;

        &::after {
            top: 0%;
            left: 50%;
        }
    }
}

.login-button {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    margin: 20px 0;
    line-height: 50px;

    &:hover {
        color: #fff;
        box-shadow: 0px 0px 15px 0px rgba(4, 4, 4, 0.5);
        transition: transform 0.5s ease;
        transform: translateY(-5px);
    }
}

.login-fb {
    background-color: #3b5781;
}

.login-line {
    background-color: #00b900;
}